CONFIG_CXD56_SPI=y
CONFIG_CXD56_SPI4=y
CONFIG_CXD56_DMAC_SPI4_TX=y
CONFIG_CXD56_DMAC_SPI4_RX=y
CONFIG_LCD=y
CONFIG_LCD_ILI9340=y
CONFIG_LCD_ILI9340_IFACE0=y
CONFIG_CXD56_I2C=y
CONFIG_CXD56_I2C2=y
CONFIG_CXD56_CISIF=y
CONFIG_VIDEO=y
CONFIG_VIDEO_ISX012=y
CONFIG_CXD56_SDIO=y
CONFIG_SQA_CAMERA=y

