CONFIG_CXD56_SPH=y
CONFIG_CXD56_SDIO=y
CONFIG_CXD56_AUDIO=y
CONFIG_CXD56_I2S0=y
CONFIG_SDK_AUDIO=y
CONFIG_CXD56_AUDIO_MIC_CHANNEL_SEL=0xCBA98765
CONFIG_AUDIOUTILS_RECORDER=y
CONFIG_MEMUTILS=y
CONFIG_ASMP=y
CONFIG_SYSTEM_ZMODEM=y
CONFIG_SYSTEM_ZMODEM_DEVNAME="/dev/console"
CONFIG_SYSTEM_ZMODEM_MOUNTPOINT="/mnt/sd0"
CONFIG_SYSTEM_ZMODEM_PKTBUFSIZE=2048
CONFIG_SYSTEM_ZMODEM_RCVBUFSIZE=2048
CONFIG_SQA_TEST_AUDIO_RECORDER_DIGMIC_WAV=y
CONFIG_SQA_TEST_AUDIO_RECORDER_DIGMIC_WAV_PROGNAME="audio_recorder_digmic_wav"
CONFIG_SQA_TEST_AUDIO_RECORDER_DIGMIC_WAV_PRIORITY=100
CONFIG_SQA_TEST_AUDIO_RECORDER_DIGMIC_WAV_STACKSIZE=2048
