#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC
	bool "Audio recorder PreProc (digital mic)"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the audio recorder digital mic PreProc test

if SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC

config SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC_PROGNAME
	string "Program name"
	default "audio_recorder"

config SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC_PRIORITY
	int "Audio recorder task priority"
	default 100

config SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC_STACKSIZE
	int "Audio recorder stack size"
	default 2048

config SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC_USEPREPROC
	bool "Use preprocess"
	default n

config SQA_TEST_AUDIO_RECORDER_PREPROC_DIGMIC_USBMSC
    bool "Use usbmsc"
    default n

endif
