CONFIG_CXD56_GNSS=y
CONFIG_GPSUTILS_CXD56NMEA_LIB=y



CONFIG_CXD56_SDIO=y
CONFIG_CXD56_SDIO_DMA=y


CONFIG_CXD56_GNSS_NPOLLWAITERS=4
CONFIG_CXD56_GNSS_NSIGNALRECEIVERS=4
CONFIG_CXD56_GNSS_WORKER_STACKSIZE=128
CONFIG_CXD56_GNSS_WORKER_THREAD_PRIORITY=255
CONFIG_CXD56_GNSS_BACKUP_FILENAME="/mnt/spif/gnss_backup.bin"
CONFIG_CXD56_GNSS_CEP_FILENAME="/mnt/vfat/gnss_cep.bin"
CONFIG_CXD56_GNSS_FW_RTK=y
CONFIG_CXD56_GNSS_DEBUG_FEATURE=y
CONFIG_CXD56_GNSS_DEBUG_ERROR=y
CONFIG_CXD56_GNSS_DEBUG_WARN=y
CONFIG_CXD56_GNSS_DEBUG_INFO=y
CONFIG_CXD56_GEOFENCE=y

CONFIG_EXAMPLES_GNSS_EXTENSION_TEST=y
CONFIG_EXAMPLES_GNSS_EXTENSION_TEST_PRIORITY=100
CONFIG_EXAMPLES_GNSS_EXTENSION_TEST_STACKSIZE=81920
CONFIG_EXAMPLES_GNSS_EXTENSION_TEST_USE_POLL=y
