CONFIG_COMBI_SET_REC_ONLY=y
#CONFIG_COMBI_SET_STEPCNT_ONLY=y
#CONFIG_COMBI_SET_REC_W_STEP=y

#CONFIG_COMBI_SET_LTE=y
CONFIG_COMBI_SET_LED=y
CONFIG_COMBI_SET_GNSS=y
CONFIG_COMBI_SET_AUDIO=y
CONFIG_COMBI_SET_VIDEO=y
CONFIG_COMBI_SET_CAMERA=y
CONFIG_COMBI_SET_ASMP=y
CONFIG_COMBI_SET_DECODE=y
#CONFIG_COMBI_SET_STEP=y
CONFIG_COMBI_SET_FLASH=y
CONFIG_COMBI_SET_FAT=y

#
# Timer Options
#
CONFIG_CXD56_RTC=y
CONFIG_CXD56_RTC_LATEINIT=y
CONFIG_CXD56_TIMER=y
CONFIG_CXD56_TIMER_DIVIDER_1=y
# CONFIG_CXD56_TIMER_DIVIDER_16 is not set
# CONFIG_CXD56_TIMER_DIVIDER_256 is not set
CONFIG_CXD56_WDT=y
CONFIG_CXD56_WDT_INTERRUPT=y
# CONFIG_CXD56_WDT_REGDEBUG is not set

#
# Storage Options
#
CONFIG_CXD56_SFC=y
CONFIG_CXD56_SFC_PAGE_SHIFT_SIZE=12
# CONFIG_CXD56_SFC_VERIFY_WRITE is not set
CONFIG_CXD56_SDIO=y
CONFIG_CXD56_SDIO_DMA=y
# CONFIG_CXD56_SDIO_WIDTH_D1_ONLY is not set
CONFIG_CXD56_SDIO_DISABLE_CD_WP=y
# CONFIG_CXD56_SDIO_ENABLE_MULTIFUNCTION is not set
# CONFIG_CXD56_SPISD is not set
CONFIG_CXD56_EMMC=y

#
# Peripheral Options
#
CONFIG_CXD56_GPIO_IRQ=y
CONFIG_CXD56_DMAC=y
CONFIG_CXD56_UART=y
# CONFIG_CXD56_UART0 is not set
CONFIG_CXD56_UART1=y
CONFIG_CXD56_UART2=y
CONFIG_CXD56_UART2_BASE_CLOCK_DIVIDER=4
CONFIG_CXD56_SPI=y
# CONFIG_CXD56_SPI0 is not set
# CONFIG_CXD56_SPI3 is not set
CONFIG_CXD56_SPI4=y
CONFIG_CXD56_DMAC_SPI4_TX=y
CONFIG_CXD56_DMAC_SPI4_TX_CH=2
CONFIG_CXD56_DMAC_SPI4_TX_MAXSIZE=192000
CONFIG_CXD56_DMAC_SPI4_RX=y
CONFIG_CXD56_DMAC_SPI4_RX_CH=3
CONFIG_CXD56_DMAC_SPI4_RX_MAXSIZE=192000
CONFIG_CXD56_SPI5=y
CONFIG_CXD56_SPI5_PINMAP_EMMC=y
# CONFIG_CXD56_SPI5_PINMAP_SDIO is not set
CONFIG_CXD56_DMAC_SPI5_TX=y
CONFIG_CXD56_DMAC_SPI5_TX_CH=4
CONFIG_CXD56_DMAC_SPI5_TX_MAXSIZE=2064
CONFIG_CXD56_DMAC_SPI5_RX=y
CONFIG_CXD56_DMAC_SPI5_RX_CH=5
CONFIG_CXD56_DMAC_SPI5_RX_MAXSIZE=2064
CONFIG_CXD56_I2C=y
CONFIG_CXD56_I2C0=y
# CONFIG_CXD56_I2C0_SCUSEQ is not set
# CONFIG_CXD56_I2C1 is not set
CONFIG_CXD56_I2C2=y
# CONFIG_CXD56_PWM is not set
# CONFIG_CXD56_ADC is not set
CONFIG_CXD56_SCU=y
CONFIG_CXD56_SCU_PREDIV=64
# CONFIG_CXD56_SCU_32K is not set
CONFIG_CXD56_SCU_RCOSC=y
# CONFIG_CXD56_SCU_XOSC is not set
# CONFIG_CXD56_SCU32K_RCRTC is not set
CONFIG_CXD56_SCU32K_RTC=y

#
# SCU Decimator assignments
#
# CONFIG_CXD56_DECI_GYRO is not set
# CONFIG_CXD56_DECI_ACCEL is not set
# CONFIG_CXD56_DECI_AK09912 is not set
# CONFIG_CXD56_DECI_KX022 is not set
# CONFIG_CXD56_DECI_BM1422GMV is not set
# CONFIG_CXD56_SCU_DEBUG is not set
CONFIG_CXD56_UDMAC=y
CONFIG_CXD56_CISIF=y

#
# Audio Options
#
CONFIG_CXD56_AUDIO=y
CONFIG_CXD56_I2S0=y
# CONFIG_CXD56_I2S1 is not set

#
# Audio baseband config settings
#
CONFIG_CXD56_AUDIO_ANALOG_CXD5247=y
# CONFIG_CXD56_AUDIO_ANALOG_NONE is not set

#
# CXD5247 settings
#
# CONFIG_CXD56_AUDIO_XTAL_SEL_24_576MHZ is not set
CONFIG_CXD56_AUDIO_XTAL_SEL_49_152MHZ=y
CONFIG_CXD56_AUDIO_MICBIAS_20V=y
# CONFIG_CXD56_AUDIO_MICBIAS_28V is not set
CONFIG_CXD56_AUDIO_MIC_CHANNEL_SEL=0xFFFF4321
CONFIG_CXD56_AUDIO_MCLKOUT_WEAKEST=y
# CONFIG_CXD56_AUDIO_MCLKOUT_WEAKER is not set
# CONFIG_CXD56_AUDIO_MCLKOUT_STRONGER is not set
# CONFIG_CXD56_AUDIO_MCLKOUT_STRONGEST is not set
CONFIG_CXD56_AUDIO_CLKOUT_DMIC_WEAKEST=y
# CONFIG_CXD56_AUDIO_CLKOUT_DMIC_WEAKER is not set
# CONFIG_CXD56_AUDIO_CLKOUT_DMIC_STRONGER is not set
# CONFIG_CXD56_AUDIO_CLKOUT_DMIC_STRONGEST is not set
CONFIG_CXD56_AUDIO_DA_DATA_WEAKEST=y
# CONFIG_CXD56_AUDIO_DA_DATA_WEAKER is not set
# CONFIG_CXD56_AUDIO_DA_DATA_STRONGER is not set
# CONFIG_CXD56_AUDIO_DA_DATA_STRONGEST is not set
CONFIG_CXD56_AUDIO_GPO_A_WEAKEST=y
# CONFIG_CXD56_AUDIO_GPO_A_WEAKER is not set
# CONFIG_CXD56_AUDIO_GPO_A_STRONGER is not set
# CONFIG_CXD56_AUDIO_GPO_A_STRONGEST is not set
CONFIG_CXD56_AUDIO_CIC_IN_SEL_CXD=y
# CONFIG_CXD56_AUDIO_CIC_IN_SEL_DMIC is not set
# CONFIG_CXD56_AUDIO_CIC_IN_SEL_NONE is not set
CONFIG_CXD56_AUDIO_PDM_LOWEMI_2MA=y
# CONFIG_CXD56_AUDIO_PDM_LOWEMI_4MA is not set
# CONFIG_CXD56_AUDIO_HPADC_MIC_BIAS_ON is not set
CONFIG_CXD56_AUDIO_HPADC_MIC_BIAS_OFF=y
# CONFIG_CXD56_CXD5247_VER_ES2 is not set
# CONFIG_CXD56_CXD5247_VER_ES3 is not set
CONFIG_CXD56_CXD5247_VER_ES4=y
CONFIG_CXD56_AUDIO_SP_SPLIT_SHORTEST=y
# CONFIG_CXD56_AUDIO_SP_SPLIT_SHORT is not set
# CONFIG_CXD56_AUDIO_SP_SPLIT_LONG is not set
# CONFIG_CXD56_AUDIO_SP_SPLIT_LONGEST is not set
# CONFIG_CXD56_AUDIO_SP_DRV_4DRIVERT is not set
# CONFIG_CXD56_AUDIO_SP_DRV_2DRIVERT is not set
# CONFIG_CXD56_AUDIO_SP_DRV_1DRIVERT is not set
CONFIG_CXD56_AUDIO_SP_DRV_LINEOUT=y

#
# I2S settings
#
CONFIG_CXD56_AUDIO_I2S_DEVICE_1_SLAVE=y
# CONFIG_CXD56_AUDIO_I2S_DEVICE_1_MASTER is not set
CONFIG_CXD56_AUDIO_I2S_FORMAT_1_I2S=y
# CONFIG_CXD56_AUDIO_I2S_FORMAT_1_LEFT is not set
# CONFIG_CXD56_AUDIO_I2S_BYPASS_MODE_1_ENABLE is not set
CONFIG_CXD56_AUDIO_I2S_BYPASS_MODE_1_DISABLE=y
CONFIG_CXD56_AUDIO_I2S_RATE_1=48000
CONFIG_CXD56_AUDIO_I2S_LOWEMI_2MA=y
# CONFIG_CXD56_AUDIO_I2S_LOWEMI_4MA is not set
CONFIG_CXD56_AUDIO_ALC_SPC_SEL_OFF=y
# CONFIG_CXD56_AUDIO_ALC_SPC_SEL_ALC is not set
# CONFIG_CXD56_AUDIO_ALC_SPC_SEL_SPC is not set
# CONFIG_CXD56_AUDIO_DMA_DATA_FORMAT_LR is not set
CONFIG_CXD56_AUDIO_DMA_DATA_FORMAT_RL=y
CONFIG_CXD56_AUDIO_MIC_BOOT_WAIT=1100

#
# Power Management Options
#
CONFIG_CXD56_PM=y
# CONFIG_CPUFREQ_RELEASE_LOCK is not set
# CONFIG_CXD56_PM_PROCFS is not set
# CONFIG_DEBUG_PM is not set
# CONFIG_CXD56_GAUGE is not set
# CONFIG_CXD56_CHARGER is not set
# CONFIG_CXD56_GE2D is not set

#
# Debug Features
#
# CONFIG_CXD56_BOOT_PROGRESS is not set
CONFIG_CXD56_BACKUPLOG=y
# CONFIG_CXD56_RESET_ON_CRASH is not set


#
# Drivers
#
CONFIG_SENSORS=y
CONFIG_BMI160=y
# CONFIG_BMI160_SPI is not set
CONFIG_BMI160_I2C=y
CONFIG_BMI160_SCU=y
# CONFIG_BMP280 is not set
# CONFIG_AK09912 is not set
# CONFIG_APDS9930 is not set
# CONFIG_APDS9960 is not set
# CONFIG_LT1PA01 is not set
# CONFIG_BH1721FVC is not set
# CONFIG_KX022 is not set
# CONFIG_BM1422GMV is not set
# CONFIG_BM1383GLV is not set
# CONFIG_BH1745NUC is not set
# CONFIG_RPR0521RS is not set
CONFIG_LCD=y
# CONFIG_LCD_LPM013M091A is not set
# CONFIG_LCD_ET014TT1 is not set
CONFIG_LCD_ILI9340=y
CONFIG_LCD_ILI9340_NINTERFACES=1
CONFIG_LCD_ILI9340_IFACE0=y
CONFIG_LCD_ILI9340_IFACE0_LANDSCAPE=y
# CONFIG_LCD_ILI9340_IFACE0_PORTRAIT is not set
# CONFIG_LCD_ILI9340_IFACE0_RLANDSCAPE is not set
# CONFIG_LCD_ILI9340_IFACE0_RPORTRAIT is not set
CONFIG_LCD_ILI9340_IFACE0_RGB565=y

#
# Video Device Support
#
CONFIG_VIDEO_ISX012=y
# CONFIG_MODEM=y
# CONFIG_MODEM_ALTMDM=y
# CONFIG_MODEM_ALTMDM_PROTCOL_V2_1=y
# CONFIG_MODEM_ALTMDM_DEBUG is not set
# CONFIG_MODEM_ALTMDM_KEEP_WAKE_STATE is not set
# CONFIG_MODEM_ALTMDM_MAX_PACKET_SIZE=2064
# CONFIG_MODEM_ALTMDM_SLEEP_TIMER_VAL=20

#
# Sensing
#
CONFIG_SENSING_MANAGER=y
# CONFIG_SENSING_MANAGER_POWERCTRL is not set
# CONFIG_SENSING_MANAGER_DEBUG_FEATURE is not set
CONFIG_CXD56_GNSS=y

#
# GNSS settings
#
CONFIG_CXD56_GNSS_NPOLLWAITERS=4
CONFIG_CXD56_GNSS_NSIGNALRECEIVERS=4
CONFIG_CXD56_GNSS_WORKER_STACKSIZE=128
CONFIG_CXD56_GNSS_WORKER_THREAD_PRIORITY=255
CONFIG_CXD56_GNSS_BACKUP_FILENAME="/mnt/spif/gnss_backup.bin"
CONFIG_CXD56_GNSS_CEP_FILENAME="/mnt/vfat/gnss_cep.bin"
# CONFIG_CXD56_GNSS_FW_RTK is not set
# CONFIG_CXD56_GNSS_DEBUG_FEATURE is not set
CONFIG_CXD56_GEOFENCE=y
CONFIG_GPSUTILS_CXD56NMEA_LIB=y
# CONFIG_SENSING_BAROMETER is not set
# CONFIG_TAP is not set
CONFIG_SENSING_STEPCOUNTER=y
# CONFIG_SENSING_STEPCOUNTER_DEBUG_FEATURE is not set
# CONFIG_SENSING_TRAM is not set
CONFIG_SDK_AUDIO=y

#
# Audio Utilities
#
CONFIG_AUDIOUTILS_MANAGER=y
# CONFIG_AUDIOUTILS_PLAYER is not set
CONFIG_AUDIOUTILS_RECORDER=y
# CONFIG_AUDIOUTILS_DIAG is not set
# CONFIG_AUDIOUTILS_VOICE_CALL is not set
# CONFIG_AUDIOUTILS_VOICE_COMMAND is not set
CONFIG_AUDIOUTILS_SRC=y
CONFIG_AUDIOUTILS_CAPTURE_CH_NUM=2
CONFIG_AUDIOUTILS_DSP_MOUNTPT="/mnt/spif/BIN"
# CONFIG_AUDIOUTILS_EVENTLOG is not set
# CONFIG_AUDIOUTILS_STATELOG is not set
# CONFIG_AUDIOUTILS_DETAILLOG is not set
# CONFIG_AUDIOUTILS_ATTENTIONLOG_DISABLE is not set

#
# Audio component menu
#
CONFIG_AUDIOUTILS_CAPTURE=y
# CONFIG_AUDIOUTILS_DECODER is not set
CONFIG_AUDIOUTILS_ENCODER=y
CONFIG_AUDIOUTILS_FILTER=y
# CONFIG_AUDIOUTILS_POSTPROC is not set
# CONFIG_AUDIOUTILS_RECOGNITION is not set
# CONFIG_AUDIOUTILS_RENDERER is not set
CONFIG_AUDIOUTILS_COMPONENT_COMMON=y
# CONFIG_AUDIOUTILS_DSP_DEBUG_DUMP is not set
# CONFIG_AUDIOUTILS_UNUSE_ORIGINAL_OPUS_FORMAT is not set
CONFIG_AUDIOUTILS_DSP_DRIVER=y
CONFIG_MEMUTILS=y

#
# Memory Utilities
#
CONFIG_MEMUTILS_MEMORY_MANAGER=y
CONFIG_MEMUTILS_MEMORY_MANAGER_USE_FENCE=y
CONFIG_MEMUTILS_MEMORY_MANAGER_NUM_FIXED_AREA_FENCES=0
CONFIG_MEMUTILS_MESSAGE=y
CONFIG_MEMUTILS_S_STL=y
CONFIG_MEMUTILS_SIMPLE_FIFO=y
CONFIG_ASMP=y
CONFIG_MM_TILE=y
CONFIG_ASMP_MEMSIZE=0xC0000
# CONFIG_ASMP_SMALL_BLOCK is not set
# CONFIG_ASMP_DEBUG_FEATURE is not set
# CONFIG_FWUPUTILS is not set

#
# LTE
#
CONFIG_LTE=y
CONFIG_MODEM_DEVICE_PATH="/dev/altmdm"
# CONFIG_LTE_NET_MBEDTLS is not set
CONFIG_LTE_NET=y
CONFIG_LTE_INET=y
# CONFIG_LTE_INET_ADDR is not set
CONFIG_LTE_INET_ATON=y
# CONFIG_LTE_INET_NTOA is not set
# CONFIG_LTE_INET_NTOP is not set
# CONFIG_LTE_INET_PTON is not set
CONFIG_LTE_NETDB=y

#
# Video Support
#
CONFIG_VIDEO=y

#
# Bluetooth Support
#
# CONFIG_BLUETOOTH is not set

#
# DNN runtime library
#

#
# Image Processing Libraries
#
# CONFIG_IMAGEPROC is not set

#
# System tools
#
# CONFIG_SYSTEM_CDCACM is not set
# CONFIG_SYSTEM_CLE is not set
# CONFIG_SYSTEM_COMPOSITE is not set

#
# File System Utilities
#
# CONFIG_FSUTILS_FLASH_ERASEALL is not set
# CONFIG_FSUTILS_INIFILE is not set
CONFIG_FSUTILS_MKSMARTFS=y
# CONFIG_SYSTEM_GPIO is not set
# CONFIG_SYSTEM_GPIOINT is not set
# CONFIG_SYSTEM_I2CTOOL is not set
# CONFIG_SYSTEM_LOGDUMP is not set
# CONFIG_SYSTEM_LOGSAVE is not set

#
# Network Utilities
#
# CONFIG_NETUTILS_CHAT is not set
# CONFIG_NETUTILS_CODECS is not set
# CONFIG_NETUTILS_ESP8266 is not set
# CONFIG_NETUTILS_FTPC is not set
# CONFIG_NETUTILS_JSON is not set
CONFIG_NETUTILS_NETLIB=y
# CONFIG_NETUTILS_SMTP is not set
CONFIG_NETUTILS_WEBCLIENT=y
CONFIG_NSH_WGET_USERAGENT="NuttX/6.xx.x (; http://www.nuttx.org/)"
CONFIG_WEBCLIENT_TIMEOUT=10
CONFIG_NETUTILS_WEBCLIENT_TLS_CERTS_PATH="/mnt/spif/CERTS"
CONFIG_EXAMPLES_NSH=y
CONFIG_EXAMPLES_NSH_CXXINITIALIZE=y

#
# NSH Library
#
CONFIG_NSH_LIBRARY=y
# CONFIG_NSH_MOTD is not set

#
# Disable Individual commands
#
# CONFIG_NSH_DISABLE_BASENAME is not set
# CONFIG_NSH_DISABLE_CAT is not set
# CONFIG_NSH_DISABLE_CD is not set
# CONFIG_NSH_DISABLE_CP is not set
# CONFIG_NSH_DISABLE_CMP is not set
# CONFIG_NSH_DISABLE_DATE is not set
# CONFIG_NSH_DISABLE_DD is not set
# CONFIG_NSH_DISABLE_DF is not set
# CONFIG_NSH_DISABLE_DIRNAME is not set
# CONFIG_NSH_DISABLE_ECHO is not set
# CONFIG_NSH_DISABLE_EXEC is not set
# CONFIG_NSH_DISABLE_EXIT is not set
# CONFIG_NSH_DISABLE_FREE is not set
CONFIG_NSH_DISABLE_GET=y
# CONFIG_NSH_DISABLE_HELP is not set
# CONFIG_NSH_DISABLE_HEXDUMP is not set
CONFIG_NSH_DISABLE_IFCONFIG=y
CONFIG_NSH_DISABLE_IFUPDOWN=y
# CONFIG_NSH_DISABLE_KILL is not set
# CONFIG_NSH_DISABLE_LOSETUP is not set
CONFIG_NSH_DISABLE_LOSMART=y
# CONFIG_NSH_DISABLE_LS is not set
# CONFIG_NSH_DISABLE_MB is not set
# CONFIG_NSH_DISABLE_MKDIR is not set
# CONFIG_NSH_DISABLE_MKRD is not set
# CONFIG_NSH_DISABLE_MH is not set
# CONFIG_NSH_DISABLE_MOUNT is not set
# CONFIG_NSH_DISABLE_MV is not set
# CONFIG_NSH_DISABLE_MW is not set
# CONFIG_NSH_DISABLE_PRINTF is not set
# CONFIG_NSH_DISABLE_PS is not set
CONFIG_NSH_DISABLE_PUT=y
# CONFIG_NSH_DISABLE_PWD is not set
# CONFIG_NSH_DISABLE_RM is not set
# CONFIG_NSH_DISABLE_RMDIR is not set
# CONFIG_NSH_DISABLE_SET is not set
# CONFIG_NSH_DISABLE_SH is not set
# CONFIG_NSH_DISABLE_SLEEP is not set
# CONFIG_NSH_DISABLE_TIME is not set
# CONFIG_NSH_DISABLE_TEST is not set
CONFIG_NSH_DISABLE_TELNETD=y
# CONFIG_NSH_DISABLE_UMOUNT is not set
# CONFIG_NSH_DISABLE_UNAME is not set
# CONFIG_NSH_DISABLE_UNSET is not set
# CONFIG_NSH_DISABLE_USLEEP is not set
CONFIG_NSH_DISABLE_WGET=y
# CONFIG_NSH_DISABLE_XD is not set
CONFIG_NSH_MMCSDMINOR=0

#
# Configure Command Options
#
CONFIG_NSH_CMDOPT_DF_H=y
# CONFIG_NSH_CMDOPT_DD_STATS is not set
CONFIG_NSH_CODECS_BUFSIZE=128
CONFIG_NSH_CMDOPT_HEXDUMP=y
CONFIG_NSH_FILEIOSIZE=1024

#
# Scripting Support
#
# CONFIG_NSH_DISABLESCRIPT is not set
# CONFIG_NSH_DISABLE_ITEF is not set
# CONFIG_NSH_DISABLE_LOOPS is not set
# CONFIG_NSH_ROMFSETC is not set

#
# Console Configuration
#
CONFIG_NSH_CONSOLE=y
# CONFIG_NSH_USBCONSOLE is not set
# CONFIG_NSH_ALTCONDEV is not set
CONFIG_NSH_ARCHINIT=y
# CONFIG_NSH_LOGIN is not set
# CONFIG_NSH_CONSOLE_LOGIN is not set

#
# Platform-specific Support
#
# CONFIG_PLATFORM_CONFIGDATA is not set
CONFIG_HAVE_CXXINITIALIZE=y
# CONFIG_SYSTEM_PMIC is not set
CONFIG_READLINE_HAVE_EXTMATCH=y
CONFIG_SYSTEM_READLINE=y
CONFIG_READLINE_ECHO=y
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_READLINE_MAX_EXTCMDS=64
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_CMD_HISTORY_LINELEN=80
CONFIG_READLINE_CMD_HISTORY_LEN=16
# CONFIG_SYSTEM_SETLOGMASK is not set
# CONFIG_SYSTEM_STACKMONITOR is not set
# CONFIG_SYSTEM_USBMSC is not set
# CONFIG_SYSTEM_ZMODEM is not set

#
# Externals
#
# CONFIG_EXTERNALS_CMSIS is not set
CONFIG_EXTERNALS_LIBJPEG=y
CONFIG_EXTERNALS_MBEDTLS=y

#
# SQA
#

#
# Combination
#
# CONFIG_TEST_AUDIO_GNSS is not set
# CONFIG_COMBINATION_PLAYER is not set
CONFIG_EXAMPLES_SENSOR_STEP_COUNTER_ACCEL_WM_SIGNO=14
CONFIG_COMBINATION_RECORDER=y
CONFIG_COMBINATION_RECORDER_WORKER_STACKSIZE=2048
# CONFIG_NETUTILS_HTTPC is not set
# CONFIG_DEMO_COLLET_TRACKER is not set
