#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TEST_VOICE_CALL
    bool "Audio voice call test"
    default n
    ---help---
        Enable the voice call test

if TEST_VOICE_CALL

config TEST_VOICE_CALL_APP_NAME
	string "Application name"
	default "voice_call"
	
config TEST_VOICE_CALL_PROGNAME
	string "Program name"
	default "voice_call"
	
config TEST_VOICE_CALL_PRIORITY
	int "voice_call task priority"
	default 100

config TEST_VOICE_CALL_STACKSIZE
	int "oice_call stack size"
	default 2048

endif
