#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TEST_FSSPEED
	bool "File system speed test"
	default n
	---help---
		Enable the file system speed test

if TEST_FSSPEED

config TEST_FSSPEED_PROGNAME
	string "Program name"
	default "fsspeed"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config TEST_FSSPEED_PRIORITY
	int "Fsspeed task priority"
	default 100

config TEST_FSSPEED_STACKSIZE
	int "Fsspeed stack size"
	default 2048

endif
