#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_IPERF3
	bool "iperf3 example"
	default n
	---help---
		Enable the iperf3

if EXAMPLES_IPERF3

config EXAMPLES_IPERF3_PROGNAME
	string "Program name"
	default "iperf3"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_IPERF3_PRIORITY
	int "iperf test task priority"
	default 100

config EXAMPLES_IPERF3_STACKSIZE
	int "iperf test stack size"
	default 4096

endif
