CONFIG_EXAMPLES_LTE_TLS=n
CONFIG_CXD56_SPI4=y
CONFIG_CXD56_DMAC_SPI4_TX=y
CONFIG_CXD56_DMAC_SPI4_TX_CH=2
CONFIG_CXD56_DMAC_SPI4_TX_MAXSIZE=2064
CONFIG_CXD56_DMAC_SPI4_RX=y
CONFIG_CXD56_DMAC_SPI4_RX_CH=3
CONFIG_CXD56_DMAC_SPI4_RX_MAXSIZE=2064
CONFIG_SYSTEM_ZMODEM=y
CONFIG_SYSTEM_ZMODEM_DEVNAME="/dev/console"
CONFIG_SYSTEM_ZMODEM_MOUNTPOINT="/mnt/sd0"
CONFIG_SYSTEM_ZMODEM_PKTBUFSIZE=2048
CONFIG_SYSTEM_ZMODEM_RCVBUFSIZE=2048
CONFIG_SQA_TEST_MBEDTLS=y
CONFIG_SQA_TEST_MBEDTLS_PRIORITY=100
CONFIG_SQA_TEST_MBEDTLS_STACKSIZE=5120
CONFIG_SQA_TEST_MBEDTLS_DIGICERT_ROOTCA="/mnt/sd0/DigiCertGlobalRootCA.crt"
CONFIG_SQA_TEST_MBEDTLS_DIGICERT_ROOTG2="/mnt/sd0/DigiCertGlobalRootG2.crt"
CONFIG_SQA_TEST_MBEDTLS_DIGICERT_HIGH_ROOTCA="/mnt/sd0/DigiCertHighAssuaranceEVRootCA.crt"
CONFIG_SQA_TEST_MBEDTLS_COMODO_ROOTCA="/mnt/sd0/addtrustexternalcaroot.crt"

