#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config AUDIO_EXTENSIONS_TEST
	bool "Audio extensions test"
	default n
	depends on CXD56_AUDIO
	---help---
		Enable the audio extensions test
