#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_GNSS_TEST
	bool "GNSS test"
	default n
  depends on CXD56_GNSS
	---help---
		Enable the Simple GNSS positioning example

if EXAMPLES_GNSS_TEST

config EXAMPLES_GNSS_TEST_PROGNAME
	string "Program name"
	default "gnss_test"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_GNSS_TEST_PRIORITY
	int "GNSS task priority"
	default 100

config EXAMPLES_GNSS_TEST_STACKSIZE
	int "GNSS stack size"
	default 2048

config EXAMPLES_GNSS_TEST_PVTLOG_FILEPATH
	string "path to save the log file"
	default "/mnt/spif/PVTLOG"
	---help---
		Specify the path to save the log file.

endif
