#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config SQA_SYSTEM_LARGE
    bool "system test for large files..."
	default n
	---help---
		smartFS test

if SQA_SYSTEM_LARGE

config SQA_SYSTEM_PROGNAME
	string "Program name"
	default ""
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config SQA_SYSTEM_PRIORITY
	int "Sytem task priority"
	default 100

config SQA_SYSTEM_STACKSIZE
	int "System stack size"
	default 2048


endif
