#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TEST_MBEDTLS_N
	bool "mbedtls test"
	default n
	---help---
		Enable the mbedtls test

if TEST_MBEDTLS_N

config TEST_MBEDTLS_N_PROGNAME
	string "Program name"
	default "mbedtls"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config TEST_MBEDTLS_N_PRIORITY
	int "mbedtls task priority"
	default 100

config TEST_MBEDTLS_N_STACKSIZE
	int "mbedtls stack size"
	default 5096 

config TEST_MBEDTLS_N_DIGICERT_ROOTCA
        string "DigiCert Global Root CA file"
        default "/mnt/sd0/DigiCertGlobalRootCA.crt"

config TEST_MBEDTLS_N_DIGICERT_ROOTG2
        string "DigiCert Global Root G2 file"
        default "/mnt/sd0/DigiCertGlobalRootG2.crt"

config TEST_MBEDTLS_N_DIGICERT_HIGH_ROOTCA
        string "DigiCert High Assurance EV Root CA file"
        default "/mnt/sd0/DigiCertHighAssuranceEVRootCA.crt"

config TEST_MBEDTLS_N_COMODO_ROOTCA
        string "Comodo Root Certificate file"
        default "/mnt/sd0/addtrustexternalcaroot.crt"

endif
