#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TEST_SECURITY_ASMP1-5
	bool "Enable some security 1-5 test to check the access protection"
	default n

