#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FREQLOCK_TEST
	bool "Freq lock test"
	default n
	---help---
		Enable the freq test

if FREQLOCK_TEST

config FREQLOCK_TEST_PROGNAME
	string "Program name"
	default "freqlock_test"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config FREQLOCK_TEST_PRIORITY
	int "freqlock test task priority"
	default 100

config FREQLOCK_TEST_STACKSIZE
	int "freqlock test stack size"
	default 2048

config FREQLOCK_TEST_SLEEP_TIME
	int "Freqlock test sleep time"
	default 2

endif
